.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #36ddbf;
  }
  
  mat-card {
    width: 350px;
    padding: 20px;
    text-align: center;
    box-shadow: 2px 2px 5px 2px rgba(231, 128, 128, 0.4);
    background-color: rgba(174, 219, 219, 0.425);
    font-family: 'Times New Roman', Times, serif;
  }
  
  .full-width {
    width: 100%;
    margin-top: 40px;
  }
