.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #36ddbf;
  }
  
  mat-card {
    width: 350px;
    padding: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .full-width {
    width: 100%;
    margin-top: 40px;
  }

  .error {
    padding: 8px;
    text-align: center;
    color: red;

  }
